@use "sass:color";

$color-darkblue: #113E9f;
$color-darkblue90: rgba($color-darkblue, 9);
$color-darkblue80: rgba($color-darkblue, .8);
$color-darkblue70: rgba($color-darkblue, .7);
$color-darkblue60: rgba($color-darkblue, .6);
$color-darkblue50: rgba($color-darkblue, .5);
$color-darkblue40: rgba($color-darkblue, .4);
$color-darkblue30: rgba($color-darkblue, .3);
$color-darkblue20: rgba($color-darkblue, .2);
$color-darkblue10: rgba($color-darkblue, .1);
$color-darkblue5: rgba($color-darkblue, .05);

$color-blue: #3083F7;
$color-blue90: rgba($color-blue, 9);
$color-blue80: rgba($color-blue, .8);
$color-blue70: rgba($color-blue, .7);
$color-blue60: rgba($color-blue, .6);
$color-blue50: rgba($color-blue, .5);
$color-blue40: rgba($color-blue, .4);
$color-blue30: rgba($color-blue, .3);
$color-blue20: rgba($color-blue, .2);
$color-blue10: rgba($color-blue, .1);
$color-blue5: rgba($color-blue, .05);

$color-grey: #4D5056;
$color-grey90: rgba($color-grey, 9);
$color-grey80: rgba($color-grey, .8);
$color-grey70: rgba($color-grey, .7);
$color-grey60: rgba($color-grey, .6);
$color-grey50: rgba($color-grey, .5);
$color-grey40: rgba($color-grey, .4);
$color-grey30: rgba($color-grey, .3);
$color-grey20: rgba($color-grey, .2);
$color-grey10: rgba($color-grey, .1);
$color-grey5: rgba($color-grey, .05);

$color-rose: #F53E6A;
$color-rose90: rgba($color-rose, 9);
$color-rose80: rgba($color-rose, .8);
$color-rose70: rgba($color-rose, .7);
$color-rose60: rgba($color-rose, .6);
$color-rose50: rgba($color-rose, .5);
$color-rose40: rgba($color-rose, .4);
$color-rose30: rgba($color-rose, .3);
$color-rose20: rgba($color-rose, .2);
$color-rose10: rgba($color-rose, .1);
$color-rose5: rgba($color-rose, .05);

$color-white: #fff;

$color-grey-white: #F6F6F6;

$color-black: #4D5056;
$color-sublabel: #94969A;

$color-divider-grey: #ededee;
$color-border: #D2D3D4;
$color-placeholder: #94969A;

$color-label: #717378;
